@import 'reset';

body {
  background: url(../images/medusa.jpg) no-repeat fixed center;
  border: black solid 1px;
}

@font-face {
  font-family: 'Aspira';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff') format('woff');
}

@font-face {
  font-family: 'JaneAusten';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf') format('truetype');
}

@font-face {
  font-family: 'Pesaro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.woff') format('woff');
}

.pesaro {
  font-family: Pesaro;
  border: black solid 1px;
}

.lightGray {
  color: #adadad;
  border: black solid 1px;
}


#janeAusten {
  font-family: janeAusten;
  font-size: 110%;
  float: right;
  margin-top: 30%;
  margin-right: 19%;
  transform: rotate(270deg);
  border: black solid 1px;
}

.aspira {
  font-family: aspira;
  border: black solid 1px;
}

#bigMedusa {
  font-size: 700%;
  float: right;
  margin-top: -3%;
  margin-right: -30%;
  border: black solid 1px;
}

#volume {
  font-size: 650%;
  float: left;
  transform: rotate(270deg);
  margin-left: -30%;
  margin-top: -10%;
  border: black solid 1px;
}

#no2 {
  font-size: 250%;
  float: left;
  margin-left: -18;
  margin-top: 10%;
  border: black solid 1px;
}

#date {
  float: left;
  margin-left: 43%;
  margin-top: 50%;
  border: black solid 1px;
}