@import 'reset';

body {
  background: url(../images/medusa.jpg) no-repeat fixed center;
  background-size: auto 70%;
}

@font-face {
  font-family: 'Aspira';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff') format('woff');
}

@font-face {
  font-family: 'JaneAusten';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf') format('truetype');
}

@font-face {
  font-family: 'Pesaro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.woff') format('woff');
}

.pesaro {
  font-family: Pesaro;
}

.lightGray {
  color: #adadad;
}

.aspira {
  font-family: aspira;
}

#janeAusten {
  font-family: janeAusten;
  font-size: 110%;
  float: right;
  margin-top: 30%;
  margin-right: 19%;
  transform: rotate(270deg);
}

#journal {
  font-size: 120%;
  float: left;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  width: 15%;
  padding: 1%;
  margin: 3% 0 0 30%;
  text-align: center;
}

#bigMedusa {
  font-size: 720%;
  float: right;
  margin-top: -53%;
  margin-right: 26%;
}

#volume {
  font-size: 650%;
  float: left;
  transform: rotate(270deg);
  margin-top: -33%;
  margin-left: 16%;
}

#no2 {
  font-size: 250%;
  float: left;
  margin-left: 29%;
  margin-top: -13%;
}

#date {
  float: left;
  margin-left: 46%;
  margin-top: 22%;
}