@import 'reset';

body {
  background: url(../images/medusa.jpg) no-repeat fixed center;
}

@font-face {
  font-family: 'Aspira';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff') format('woff');
}

@font-face {
  font-family: 'JaneAusten';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf') format('truetype');
}

@font-face {
  font-family: 'Pesaro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf') format('opentype');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.woff') format('woff');
}

#janeAusten {
  font-family: janeAusten;
  font-size: 120%;
}
.aspira {
  font-family: aspira light;
}

.pesaro {
  font-family: Pesaro;
}

.lightGray {
  color: #adadad;
}

#bigMedusa {
  font-size: 300%;
}